<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>sengSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.seng</string>
			<key>id</key>
			<string>multiCentreEnabled</string>
			<key>key</key>
			<string>multiCentreEnabled</string>
			<key>label</key>
			<string>mc_ENABLED</string>
			<key>negate</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>sengSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.seng</string>
			<key>id</key>
			<string>overrideCCGesture</string>
			<key>key</key>
			<string>overrideCCGesture</string>
			<key>label</key>
			<string>mc_OVERRIDE_CC</string>
			<key>negate</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>mc_CONTROL_SECTIONS_FOOTER</string>
			<key>label</key>
			<string>mc_CONTROL_SECTIONS_TITLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>sengTopSectionIconCell</string>
			<key>detail</key>
			<string>sengPrefsOrganisationController</string>
			<key>icon</key>
			<string>/Library/PreferenceBundles/sengPrefs.bundle/Icons/top.png</string>
			<key>key</key>
			<string>top</string>
			<key>label</key>
			<string>mc_TOP</string>
			<key>sengDefaultDisabled</key>
			<array>
				<string>me.chewitt.seng.volume</string>
				<string>com.apple.controlcenter.brightness</string>
				<string>me.chewitt.seng.small-scroll</string>
				<string>me.chewitt.seng.big-scroll</string>
				<string>me.chewitt.seng.media-titles</string>
				<string>me.chewitt.seng.media-buttons</string>
				<string>com.apple.controlcenter.media-controls</string>
				<string>com.apple.controlcenter.settings</string>
				<string>com.apple.controlcenter.quick-launch</string>
				<string>me.chewitt.seng.people</string>
			</array>
			<key>sengDefaultEnabled</key>
			<array>
				<string>com.apple.controlcenter.air-stuff</string>
			</array>
			<key>sengDisabledKey</key>
			<string>topViewDisabledSections</string>
			<key>sengEnabledKey</key>
			<string>topViewEnabledSections</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>sengIconCell</string>
			<key>detail</key>
			<string>sengPrefsOrganisationController</string>
			<key>icon</key>
			<string>/Library/PreferenceBundles/sengPrefs.bundle/Icons/bottom.png</string>
			<key>key</key>
			<string>bottom</string>
			<key>label</key>
			<string>mc_BOTTOM</string>
			<key>sengDefaultDisabled</key>
			<array>
				<string>com.apple.controlcenter.air-stuff</string>
				<string>me.chewitt.seng.volume</string>
				<string>com.apple.controlcenter.brightness</string>
				<string>me.chewitt.seng.media-titles</string>
				<string>me.chewitt.seng.media-buttons</string>
				<string>com.apple.controlcenter.media-controls</string>
				<string>me.chewitt.seng.big-scroll</string>
			</array>
			<key>sengDefaultEnabled</key>
			<array>
				<string>com.apple.controlcenter.settings</string>
				<string>me.chewitt.seng.small-scroll</string>
				<string>com.apple.controlcenter.quick-launch</string>
			</array>
			<key>sengDisabledKey</key>
			<string>bottomViewDisabledSections</string>
			<key>sengEnabledKey</key>
			<string>bottomViewEnabledSections</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>mc_ICON_STYLE_FOOTER</string>
			<key>label</key>
			<string>mc_ICON_STYLE_TITLE</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>me.chewitt.seng</string>
			<key>id</key>
			<string>iconStyle</string>
			<key>key</key>
			<string>iconStyle</string>
			<key>validTitles</key>
			<array>
				<string>mc_ICON_STYLE_STANDARD</string>
				<string>mc_ICON_STYLE_OVERLAPPED</string>
				<string>mc_ICON_STYLE_HIDDEN</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>sengSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.seng</string>
			<key>id</key>
			<string>alwaysShowGrabber</string>
			<key>key</key>
			<string>alwaysShowGrabber</string>
			<key>label</key>
			<string>mc_SHOW_GRABBER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>mc_GESTURE_ANIMATIONS_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>sengSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.seng</string>
			<key>enabled</key>
			<true/>
			<key>id</key>
			<string>gestureAnim</string>
			<key>key</key>
			<string>gestureAnim</string>
			<key>label</key>
			<string>mc_GESTURE_ANIMATIONS</string>
			<key>negate</key>
			<true/>
			<key>set</key>
			<string>setGestureAnim:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>mc_OPEN_TO_CURRENT_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>sengSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.seng</string>
			<key>id</key>
			<string>openToCurrent</string>
			<key>key</key>
			<string>openToCurrent</string>
			<key>label</key>
			<string>mc_OPEN_TO_CURRENT</string>
			<key>negate</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>MULTI_CENTRE</string>
</dict>
</plist>
