<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>op_SWIPE_UP_FOOTER</string>
			<key>label</key>
			<string>op_HOME_APP_CARD</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>me.chewitt.seng</string>
			<key>detail</key>
			<string>sengBasePSListItemsController</string>
			<key>id</key>
			<string>hsDismissType</string>
			<key>key</key>
			<string>hsDismissType</string>
			<key>label</key>
			<string>op_SWIPE_UP</string>
			<key>set</key>
			<string>setHSSwipeUpAction:specifier:</string>
			<key>validTitles</key>
			<array>
				<string>op_QUIT_ALL_APPS</string>
				<string>op_SHOW_ACTION_MENU</string>
				<string>op_RESPRING</string>
				<string>op_LOCK</string>
				<string>op_SHUT_DOWN</string>
				<string>op_NONE</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>quitAllGroup</string>
			<key>label</key>
			<string>op_QUIT_ALL_APPS</string>
		</dict>
		<dict>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>el_SYSTEM_APPLICATIONS</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>el_USER_APPLICATIONS</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/me.chewitt.seng.whitelist.plist</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>whitelist</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>op_APP_WHITELIST</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>sengSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.seng</string>
			<key>id</key>
			<string>closeNowPlaying</string>
			<key>key</key>
			<string>closeNowPlaying</string>
			<key>label</key>
			<string>op_CLOSE_NOW_PLAYING</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>sengSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.seng</string>
			<key>id</key>
			<string>dismissAfterQuitAll</string>
			<key>key</key>
			<string>dismissAfterQuitAll</string>
			<key>label</key>
			<string>op_DISMISS_AFTER</string>
			<key>negate</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>op_APPEARANCE</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>sengSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.seng</string>
			<key>id</key>
			<string>hideDarkSectionBGS</string>
			<key>key</key>
			<string>hideDarkSectionBGS</string>
			<key>label</key>
			<string>op_REMOVE_DARK_EFFECT</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>sengSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.seng</string>
			<key>id</key>
			<string>noBG</string>
			<key>key</key>
			<string>noBG</string>
			<key>label</key>
			<string>op_HIDE_BG</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>op_BEHAVIOUR_FOOTER</string>
			<key>label</key>
			<string>op_BEHAVIOUR</string>
		</dict>
		<dict>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>el_SYSTEM_APPLICATIONS</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>el_USER_APPLICATIONS</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/me.chewitt.seng.blacklist.plist</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>op_BLACKLIST</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>op_SWIPE_SWITCH_FOOTER</string>
			<key>id</key>
			<string>swipeToSwitchGroup</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>sengSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.seng</string>
			<key>id</key>
			<string>swipeToSwitchApp</string>
			<key>key</key>
			<string>swipeToSwitchApp</string>
			<key>label</key>
			<string>op_SWIPE_SWITCH</string>
			<key>negate</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>sengSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.seng</string>
			<key>id</key>
			<string>forceToSwitchApp</string>
			<key>key</key>
			<string>forceToSwitchApp</string>
			<key>label</key>
			<string>op_USE_FORCE</string>
			<key>negate</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.chewitt.seng.prefsChanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>me.chewitt.seng</string>
			<key>id</key>
			<string>swipeToSwitchAppZone</string>
			<key>key</key>
			<string>swipeToSwitchAppZone</string>
			<key>validTitles</key>
			<array>
				<string>op_ALL</string>
				<string>op_BOTTOM_THIRD</string>
				<string>op_MIDDLE_THIRD</string>
				<string>op_TOP_THIRD</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>OTHER</string>
</dict>
</plist>
